<% provide(:title, 'All events') %>
<h1>All events</h1>

<ul class="users">
  <h2>Upcoming events</h2>
  <% if @upcoming_events.any? %>
    <% @upcoming_events.each do |uevents| %>
      <%= link_to uevents.title, uevents%>  
    <% end %>
  <% else %>
      No upcoming events
  <% end %>
  <h2>Previous events</h2>
  <%if @past_events.any? %>
    <% @past_events.each do |pevents| %>
      <%= link_to pevents.title, pevents %>
    <% end %>
  <% else %>  
    No previous events
  <% end %>
</ul>
